* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	height: 100%;
}

.header-section {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: black;
	height: 115px;
	justify-content: space-between;
	border-radius: 0 0 15px 15px;
}

#logo {
	height: 70px;
	margin-left: 35px;
}

.search-container {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 15px;
	padding: 5px 10px;
	width: 560px;
	height: 30px;

}

#searchInput {
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 15px;
	width: 515px;
	height: 30px;
}

#searchInput::placeholder {
	font-family: 'Lato';
	font-size: 16px;
	height: 20px;
}

.search-container i {
	color: #F3141B;
	font-size: 20px;
}

.nav-section {
	margin-right: 35px;

}

.nav-section ul {
	display: flex;
	gap: 25px;
}

li {
	list-style: none;
}

li a {
	text-decoration: none;
	color: white;
	font-family: "Josefin Sans", sans-serif;
	font-size: 13px;
	padding: 5px;
	transition: color .2s ease-in-out;
}

li a:hover {
	color: #F3141B;
}


.fa-solid {
	color: white;
	font-size: 20px;
	transition: color .2s ease-in-out;
}

.fa-solid:hover {
	color: #F3141B;
}


.menu-icon i {
	transition: transform 0.3s ease;
}

.menu-icon.active i {
	transform: rotate(180deg);
}





main {
	margin: 35px;
}

.favoritos-title {
	text-align: center;
	font-family: "Josefin Sans";
	margin-top: 50px;
	font-size: 28px;
	margin-bottom: 40px;
}

#favoritos-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	margin-top: 40px;
}

.card {
	border-radius: 10px;
	background-color: rgb(224, 224, 224);
	height: 390px;
	display: flex;
	width: 300px;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.card img {
	width: 250px;
	object-fit: cover;
	height: 150px;
	margin-top: 15px;
}

.name-price {
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	margin-top: 20px;
}

.name-price h5 {
	font-family: "Lato";
	font-size: 18px;
	font-weight: 400;
}

.card .description {
	margin-top: 15px;
	margin-bottom: 35px;
	font-family: "Lato";
	font-weight: 500;
	font-size: 16px;
	color: #505050;
	width: 250px;
	height: 54px;
}

.card .product-link {
	box-sizing: border-box;
	padding: 15px;
	background-color: #F3141B;
	width: 250px;
	height: 48px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: "Josefin Sans";
	font-weight: 800;
	font-size: 18px;
}

.button-favorite {
	background: none;
	border: none;
	position: absolute;
	top: 12px;
	right: 12px;
}

.button-favorite i {
	color: #F3141B;
	font-size: 25px;
}


.footer-section {
	margin-top: 95px;
	width: 100%;
	background-color: black;
}

.footer-section .area-1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	padding: 45px 0px;
}

.footer-section .area-1 .area figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-section .area-1 .area figure img {
	width: 150px;
}

.footer-section .area-1 .area h4 {
	color: white;
	font-family: "Josefin Sans";
	font-size: 20px;
	margin-bottom: 25px;
}

.footer-section .area-1 .area a {
	text-decoration: none;
}

.footer-section .area-1 .area li {
	color: white;
	line-height: 38px;
	font-family: "Lato";
	font-size: 18px;
	transition: color .2s ease-in-out;
	width: 85px;
}

.footer-section .area-1 .area li:hover {
	color: #F3141B;
}

.footer-section .area-1 .area .social a {
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: white;
	margin-right: 10px;
	background-color: rgb(14, 14, 14);
	text-align: center;
	font-size: 40px;
	transition: all 300ms ease;
}

.footer-section .area-1 .area .social a:hover {

	color: #F3141B;
}

.footer-section .area-2 {
	background-color: rgb(11, 11, 11);
	padding: 15px 10px;
	text-align: center;
	color: white;
}

.footer-section .area-2 small {
	font-size: 15px;
	font-family: "Lato";
}

@media (max-width: 1000px) {


	.header-section {
		flex-direction: column;
		height: auto;
		justify-content: center;

	}

	#logo {
		margin: 0;
		margin-top: 5px;
		height: 75px;
		width: 75px;
	}

	.search-container {
		width: 90%;
		height: 35px;
		border-radius: 50px;
		margin-top: 2px;
	}

	.search-container i {
		font-size: 25px;
	}

	#searchForm {
		height: 35px;
		width: 100%;
	}

	#searchInput {
		font-size: 16px;
		height: 35px;
		width: 100%;
		border-radius: 50px;
	}

	#searchInput::placeholder {
		font-size: 16px;
		height: 35px;
		width: 100%;
	}
	.menu-icon {
		display: block;
		color: white;
		cursor: pointer;
	}
	.menu-icon i {
		font-size: 30px;
		margin-top: 10px;

	}

	.nav-section {
		display: none;
		margin: 0;
		margin-top: 20px;
	}


	.nav-section ul {
		margin-top: 15px;
		flex-direction: column;
		align-items: center;
		line-height: 5px;
	}

	li a {
		font-size: 14px;
	}

.fa-solid {
	font-size: 20px;
}

#favoritos-container  {
	grid-template-columns: 1fr;
	justify-items: center;
}



    .footer-section .area-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
		
    }

	.footer-section .area-1 .area figure img {
		width: 150px;
		margin-top: 20px;
	}
	
	.footer-section .area-1 .area h4 {
		font-size: 26px;
		margin-top: 50px;
	}
	.footer-section .area-1 .area li  {
		font-size: 20px;
		line-height: 40px;
	}
	.footer-section .area-1 .area .social a {
		width: 60px;
		height: 60px;
		font-size: 60px;
		margin-top: 10px;
		margin-bottom: 25px;

	}


	.footer-section .area-2 {
		height: 55px;
	}
	.footer-section .area-2 small {
		font-size: 14px;
	}


}

@media (min-width: 1200px) {
	.menu-icon {
		display: none;
	}
}

