
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
    line-height: 1.6;
	height: 100%;
}

.header-section {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: black;
	height: 115px;
	justify-content: space-between;
	border-radius: 0 0 15px 15px;
}

#logo {
	height: 70px;
	margin-left: 35px;
}

.search-container {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 15px;
	padding: 5px 10px;
	width: 560px;
	height: 30px;

}

#searchInput {
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 15px;
	width: 515px;
	height: 30px;
}

#searchInput::placeholder {
	font-family: 'Lato';
	font-size: 16px;
	height: 20px;
}

.search-container i {
	color: #F3141B;
	font-size: 20px;
}

.nav-section {
	margin-right: 35px;

}

.nav-section ul {
	display: flex;
	gap: 25px;
}

li {
	list-style: none;
}

li a {
	text-decoration: none;
	color: white;
	font-family: "Josefin Sans", sans-serif;
	font-size: 13px;
	padding: 5px;
	transition: color .2s ease-in-out;
}

li a:hover {
	color: #F3141B;
}


li a .fa-solid {
	color: white;
	font-size: 20px;
	transition: color .2s ease-in-out;
}
.fa-solid:hover {
	color: #F3141B;
}


.menu-icon i {
	transition: transform 0.3s ease;
  }

.menu-icon.active i {
transform: rotate(180deg);
}



/* Contenedor principal */
#producto-detalle {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos de la tarjeta de producto */
.producto-detalle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Imagen del producto */
.producto-detalle img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Nombre y precio */
.name-price {
    font-family: "Josefin Sans";
}

.name-price h2 {
    font-size: 40px;
    color: black;
}

.name-price h3 {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

/* Botón de compra */
.producto-detalle button {
    font-family: "Josefin Sans";
    background-color: #F3141B;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    height: 70px;
}

.producto-detalle button:hover {
    background-color: black;
}


.details-info{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: -113px;
}
/* Descripción */
.description {
    font-size: 20px;
    font-family: "Lato";
}

/* Características */
details {
    border: 2px solid #F3141B;
    border-radius: 10px;
    padding: 1rem;
    font-family: "Lato";
    font-size: 20px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    color: black;
}

details p {
    margin-top: 1rem;
}

details li {
    font-size: 16px;
    margin-bottom: 0.5rem;
}


#producto-detalle > p {
    text-align: center;
    font-size: 1.2rem;
    color: #F3141B;
}




/*CSS PAGINA DE CHECKOUT*/
.checkout-container {
    margin: auto ;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    font-family: "Lato";
}
.checkout-container h1 {
    margin-top: 0;
    font-family: "Josefin Sans";
}
.checkout-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.checkout-container input, .checkout-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkout-container button {
    width: 100%;
    padding: 15px;
    background-color: #F3141B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
    font-family: "Josefin Sans";
    font-weight: 600;
}
.checkout-container button:hover {
    background-color: black;
}
.order-summary {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.order-summary h2 {
    margin-top: 0;
}


.main-confirmation {
    height: 500px;
    margin-top: 50px;
}

.confirmacion-tittle {
    font-family: "Josefin Sans";
    font-size: 60px;
}
.confirmacion-p {
    font-family: "Lato";
    font-size: 28px;
}


.footer-section {
	margin-top: 95px;
	width: 100%;
	background-color: black;
}
.footer-section .area-1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	padding: 45px 0px;
}
.footer-section .area-1 .area figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-section .area-1 .area figure img {
	width: 150px;
}
.footer-section .area-1 .area h4 {
	color: white;
	font-family: "Josefin Sans";
	font-size: 20px;
	margin-bottom: 25px;
}
.footer-section .area-1 .area a {
	text-decoration: none;
}

.footer-section .area-1 .area li {
	color: white;
	line-height: 38px;
	font-family: "Lato";
	font-size: 18px;
	transition: color .2s ease-in-out;
	width: 85px;
}
.footer-section .area-1 .area li:hover {
	color: #F3141B;
}
.footer-section .area-1 .area .social a {
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: white;
margin-right: 10px;
background-color: rgb(14, 14, 14);
text-align: center;
font-size: 40px;
transition: all 300ms ease;
}
.footer-section .area-1 .area .social a:hover{

	color: #F3141B;
}
.footer-section .area-2 {
	background-color: rgb(11, 11, 11);
	padding: 15px 10px;
	text-align: center;
	color: white;
}
.footer-section .area-2 small {
	font-size: 15px;
	font-family: "Lato";
}


@media (max-width: 1000px) {


	.header-section {
		flex-direction: column;
		height: auto;
		justify-content: center;
	}

	#logo {
		margin: 0;
		margin-top: 20px;
		width: 200px;
		height: 200px;
	}

	.search-container {
		width: 90%;
		height: 90px;
		border-radius: 50px;
		margin-top: 10px;
	}

	.search-container i {
		font-size: 60px;
		margin-left: 15px;
	}

	#searchForm {
		height: 90px;
		width: 100%;
	}

	#searchInput {
		font-size: 45px;
		height: 90px;
		width: 100%;
		border-radius: 50px;
		margin-left: 10px;
	}

	#searchInput::placeholder {
		font-size: 45px;
		height: 60px;
		width: 100%;
	}
	.menu-icon {
		display: block;
		font-size: 30px;
		color: white;
		cursor: pointer;
	}
	.menu-icon i {
		font-size: 80px;
		margin-top: 25px;
	}

	.nav-section {
		display: none;
		margin: 0;
		margin-top: 50px;
	}


	.nav-section ul {
		flex-direction: column;
		align-items: center;
		background-color: black;
		line-height: 20px;
	}
	.nav-section ul li {
		margin-top: 25px;
	}
	li a {
		font-size: 35px;
	}

li a .fa-solid {
	font-size: 50px;
}


    #producto-detalle {
        padding: 1rem;
    }
    
    .producto-detalle {
        grid-template-columns: 1fr;
    }
    
    .producto-detalle img {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .name-price h2 {
		 margin-left: 25px;
		 margin-right: 25px;
        font-size: 70px;
    }
    
    .name-price h3 {
		margin-left: 25px;
		margin-right: 25px;
        font-size: 60px;
    }
    
    .producto-detalle button {
		margin-left: 25px;
		margin-right: 25px;
        font-size: 50px;
        padding: 40px;
        height: auto;
		margin-top: 25px;
    }
    
    .description {
		margin-left: 25px;
		margin-right: 25px;
		margin-top: 100px;
        font-size: 40px;
		width: auto;
    }
    
    details {
		margin-left: 25px;
		margin-right: 25px;
        font-size: 50px;
	
    }
    
    details li {
        font-size: 20px;
    }



    .footer-section .area-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }

	.footer-section .area-1 .area figure img {
		width: 300px;
		margin-top: 25px;
	}
	
	.footer-section .area-1 .area h4 {
		font-size: 50px;
		margin-top: 80px;
	}
	.footer-section .area-1 .area li  {
		font-size: 40px;
		line-height: 70px;
	}
	.footer-section .area-1 .area .social a {
		width: 100px;
		height: 100px;
		font-size: 100px;
		margin-top: 50px;
		margin-bottom: 50px;
	}


	.footer-section .area-2 {
		height: 90px;
	}
	.footer-section .area-2 small {
		font-size: 32px;
	}


}

@media (min-width: 1200px) {
	.menu-icon {
		display: none;
	}
}
