* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.header-section {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 115px;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
}

#logo {
    height: 70px;
    margin-left: 35px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    width: 560px;
    height: 30px;

}

#searchInput {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    width: 515px;
    height: 30px;
}

#searchInput::placeholder {
    font-family: 'Lato';
    font-size: 16px;
    height: 20px;
}

.search-container i {
    color: #F3141B;
    font-size: 20px;
}

.nav-section {
    margin-right: 35px;

}

.nav-section ul {
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 13px;
    padding: 5px;
    transition: color .2s ease-in-out;
}

li a:hover {
    color: #F3141B;
}


.fa-solid {
    color: white;
    font-size: 20px;
    transition: color .2s ease-in-out;
}

.fa-solid:hover {
    color: #F3141B;
}


.menu-icon i {
    transition: transform 0.3s ease;
}

.menu-icon.active i {
    transform: rotate(180deg);
}




h1 {
    font-family: "Josefin Sans";
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    margin-bottom: 40px;
}

#filter-search {
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 25px 50px 25px;
    font-family: "Lato";
    border-radius: 10px;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 2;
}

#filter-search .filters-sections:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#filter-search .filters-sections:nth-child(2) {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#filter-search .filters-sections:nth-child(3) {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#filter-search .filters-sections:nth-child(4) {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
} 
#filter-search label {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    font-family: "Lato";
}

select {
    width: 125px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 20px white;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: black;
}

input[type="range"] {
    width: 150px;
    height: 8px;
    border-radius: 5px;
    background: white;
    outline: none;
}


input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F3141B;
    cursor: pointer;
}

.filters-sections span {
    width: 50px;
    font-weight: 600;
}

#applyFilters {
    border: none;
    width: 145px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

#resetFilters {
    border: none;
    width: 145px;
    padding: 10px;
    border: 2px solid #F3141B;
    box-shadow: 0 0 20px #F3141B;
    background-color: #F3141B;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.filters-sections button:hover {
    scale: 1.03;
}


#main-inventary {
    margin: 0px 25px 0px 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 38px;
}

.card {
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    height: 390px;
    display: flex;
    width: 300px;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card img {
    width: 250;
    object-fit: cover;
    height: 150px;
    margin-top: 15px;
}

.name-price {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 20px;
}

.name-price h5 {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
}

.card .description {
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: "Lato";
    font-weight: 500;
    font-size: 16px;
    color: #505050;
    width: 250px;
    height: 54px;
}

.card .product-link {
    box-sizing: border-box;
    padding: 15px;
    background-color: #F3141B;
    width: 250px;
    height: 48px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Josefin Sans";
    font-weight: 800;
    font-size: 18px;
}

.button-favorite {
    background: none;
    border: none;
    position: absolute;
    top: 12px;
    right: 12px;
}

.button-favorite i {
    color: #F3141B;
    font-size: 25px;
}


.footer-section {
    margin-top: 95px;
    width: 100%;
    background-color: black;
}

.footer-section .area-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px;
}

.footer-section .area-1 .area figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .area-1 .area figure img {
    width: 150px;
}

.footer-section .area-1 .area h4 {
    color: white;
    font-family: "Josefin Sans";
    font-size: 20px;
    margin-bottom: 25px;
}

.footer-section .area-1 .area a {
    text-decoration: none;
}

.footer-section .area-1 .area li {
    color: white;
    line-height: 38px;
    font-family: "Lato";
    font-size: 18px;
    transition: color .2s ease-in-out;
    width: 85px;
}

.footer-section .area-1 .area li:hover {
    color: #F3141B;
}

.footer-section .area-1 .area .social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: rgb(14, 14, 14);
    text-align: center;
    font-size: 40px;
    transition: all 300ms ease;
}

.footer-section .area-1 .area .social a:hover {

    color: #F3141B;
}

.footer-section .area-2 {
    background-color: rgb(11, 11, 11);
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.footer-section .area-2 small {
    font-size: 15px;
    font-family: "Lato";
}

@media (max-width: 1000px) {


	.header-section {
		flex-direction: column;
		height: auto;
		justify-content: center;

	}

	#logo {
		margin: 0;
		margin-top: 5px;
		height: 75px;
		width: 75px;
	}

	.search-container {
		width: 90%;
		height: 35px;
		border-radius: 50px;
		margin-top: 2px;
	}

	.search-container i {
		font-size: 25px;
	}

	#searchForm {
		height: 35px;
		width: 100%;
	}

	#searchInput {
		font-size: 16px;
		height: 35px;
		width: 100%;
		border-radius: 50px;
	}

	#searchInput::placeholder {
		font-size: 16px;
		height: 35px;
		width: 100%;
	}
	.menu-icon {
		display: block;
		color: white;
		cursor: pointer;
	}
	.menu-icon i {
		font-size: 30px;
		margin-top: 10px;

	}

	.nav-section {
		display: none;
		margin: 0;
		margin-top: 5px;
	}


	.nav-section ul {
		margin-top: 25px;
		flex-direction: column;
		align-items: center;
		line-height: 5px;
	}

	li a {
		font-size: 14px;
	}

.fa-solid {
	font-size: 20px;
}

#filter-search {
    flex-direction: column;
    height: 270px;
    position: relative;
    width: auto;
    margin: 5px;
}

#filter-search .filters-sections:first-child {
    position: absolute;
    top: 25px;
    left: 15px;
    right: 15px;
    gap: 50px;
}

#filter-search .filters-sections:nth-child(2) {
    position: absolute;
    top: 85px;
    left: 15px;
    right: 15px;
    gap: 20px;
}

.filters-sections span {
    width: 20px;
    font-size: 14px;
}
input[type="range"] {
    width: 100px;
}

#filter-search .filters-sections:nth-child(3) {
    position: absolute;
    top: 130px;
    left: 15px;
    right: 15px;
    gap: 20px;
}

#filter-search .filters-sections:nth-child(4) {
    position: absolute;
    top: 190px;
    left: 15px;
    right: 15px;
    gap: 25px;
}
#applyFilters  {
    width: 170px;
}
#resetFilters {
    width: 130px;
}

#main-inventary {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 25px;
}
/*

#main-inventary {
    margin: 0px 25px 0px 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 38px;
}

.card {
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    height: 390px;
    display: flex;
    width: 300px;
    align-items: center;
    flex-direction: column;
    position: relative;
}
*/



    .footer-section .area-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
		
    }

	.footer-section .area-1 .area figure img {
		width: 150px;
		margin-top: 20px;
	}
	
	.footer-section .area-1 .area h4 {
		font-size: 26px;
		margin-top: 50px;
	}
	.footer-section .area-1 .area li  {
		font-size: 20px;
		line-height: 40px;
	}
	.footer-section .area-1 .area .social a {
		width: 60px;
		height: 60px;
		font-size: 60px;
		margin-top: 10px;
		margin-bottom: 25px;

	}


	.footer-section .area-2 {
		height: 55px;
	}
	.footer-section .area-2 small {
		font-size: 14px;
	}


}

@media (min-width: 1200px) {
	.menu-icon {
		display: none;
	}
}

